/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #f9fafb; /* Light background color for better contrast */
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 30s linear infinite; /* Adjusted to 30s for smoother speed */
    display: flex; /* Arrange the images in a row */
    width: 200%; /* Total width: 2 times the container's width */
  }

  .slider-container {
    display: flex;
    width: 100%; /* Full width for container */
    overflow: hidden; /* Hide images when they slide out */
    white-space: nowrap; /* Prevent images from wrapping to the next line */
  }
}


body {
  height: 100vh;
  background-color: #f9fafb;
}